<div class="container">
    <div class="form">
        <h3 class="text-center">Escreva suas Postagens</h3> <hr>
        <form action="/add" method="POST">     <!-- method GET envia os dados pela URL -->
            <label for="title">Título</label><br>
            <input type="text" name="title" class="form-control"><br>
            
            <label for="title">Conteúdo</label><br>
            <textarea class="form-control" name="content"></textarea><br>

            <button type="submit" class="btn btn-success float-right">Postar</button>
            <a href="/" class="btn btn-primary float-right mr-2">Cancelar</a>
        </form>
    </div>
</div>

<style>
    body {
        margin: 0px
    }
    .container {
        width: 100vw;
        height: 100vh;
        background: #fff;
        display: flex;
        flex-direction: row;
        justify-content: center;    /* Alinha ao centro horizontalmente */
    /*    align-items: center       /* Alinha ao centro verticalmente */
    }
    h3 {
        color: #fff;
    }
    .form {
        margin-top: 50px;
        padding: 15px;
        width: 500px;
        height: 350px;
        background: rgb(241, 153, 21);
        border-radius: 8px;
    }
    label {
        color:  #fff;
    }
</style>